.rooms-section-heading {
  font-family: "Boska", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 4.25rem;
  line-height: normal;
  text-transform: capitalize;
  color: var(--teal);
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
}

#rooms-carousel {
  max-width: 100%;
  height: 100vh;
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
  overflow-x: hidden;
  margin-top: 10rem;
}

.room-slide {
  flex: 1;
  overflow: hidden;
  animation: slide 5s infinite;
}

#rooms-carousel .room-slide:nth-child(1) {
  order: 1;
}

#rooms-carousel .room-slide:nth-child(2) {
  order: 2;
}

#rooms-carousel .room-slide:nth-child(3) {
  order: 3;
}

.room-slide-item {
  position: relative;
  height: 50%;
  width: 80%;
  margin: auto;
}

.room-slide-item > img {
  height: 100%;
  width: 100%;
  /* min-width: auto; */
  /* width: 30vw; */
}

.room-slide-content {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  right: 2rem;
  color: white;
  display: flex;
  justify-content: space-evenly;
}

.room-slide-text {
  flex: 3;
}

.room-slide-text h3 {
  font-family: "Boska", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  color: white;
}

.room-slide-text p {
  display: none;
}

.room-slide-button {
  display: none;
  text-align: end;
  flex: 1;
}

.active.room-slide {
  flex: 1.25;
  height: 100%;
}

.active .room-slide-item {
  height: 100%;
  width: 100%;
}

.active .room-slide-text h3 {
  font-weight: 600;
  font-size: 4.25rem;
}

.active .room-slide-text p,
.active .room-slide-button {
  font-family: "Switzer", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  font-style: normal;
}

.active .room-slide-text p,
.active .room-slide-button {
  display: block;
}

/* animation for sliding */
@keyframes slide {
  0% {
    order: 2;
  }
  33.33% {
    order: 3;
  }
  66.66% {
    order: 1;
  }
  100% {
    order: 2;
  }
}

#rooms-carousel .room-slide:nth-child(1) {
  animation: slide 9s infinite;
  animation-timing-function: ease-in;
  animation-delay: 0s;
}

#rooms-carousel .room-slide:nth-child(2) {
  animation: slide 9s infinite;
  animation-timing-function: ease-in;
  animation-delay: 3s;
}

#rooms-carousel .room-slide:nth-child(3) {
  animation: slide 9s infinite;
  animation-timing-function: ease-in;
  animation-delay: 6s;
}
