#hero-bg {
  position: relative;
  z-index: -1111;
  width: 100%;
  min-height: 100%;
  background-image: url("../assets/Line.png");
  background-color: #1b3936;
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center;
}

#hero-bg .hero-center-bg {
  width: 33.33vw;
  height: 33.33vw;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

#hero-bg .hero-play {
  width: 80px;
  height: 80px;
  top: 50vh;
  right: 7vw;
  position: absolute;
  transform: translate(-50%, -50%);
}

#hero-content {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -45%);
}

.hero-title {
  font-family: "Boska", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14rem;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-title span {
  text-transform: capitalize;
}

.hero-title span:nth-child(1),
.hero-title span:nth-child(3),
.hero-title span:nth-child(4) {
  color: white;
  line-height: 0.6;
}

.hero-title span:nth-child(3) {
  font-size: 2rem;
  line-height: auto;
}

.hero-title span:nth-child(2) {
  position: relative;
  right: calc(-25%);
  font-style: italic;
  color: var(--green);
}

.hero-description {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  line-height: normal;
  color: white;
  text-align: center;
}

.absolutely-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
